* {
  box-sizing: border-box;
}

body {
padding: 10px;
 background-image: url("../images/web.png");
background-repeat: no-repeat;
background-size: cover;


}

h2{
		color: black;
}
.text{
	color: black;
	font-size: 20px;
	font-family: "Courier New";
	text-align: center;
}
.header {
  padding: 10px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.leftcolumn {   
  float: left;
  width: 50%;
}

.rightcolumn {
  float: left;
  width: 50%;
  padding-left: 20px;
}
.middlecolumn {
  float: left;
  width: 100%;
 

}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
.card {
  background-color: #9198a3;
  padding: 20px;
  margin-top: 20px; 
    height: 300px;
    opacity: .80;
    border-radius: 10%;
 box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);

}
.solocard {
  background-color: #9198a3;
  padding: 20px;
  margin-top: 20px; 
    height: 150px;
    opacity: .80;
    border-radius: 10%;
 box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);

}
.projectcard {
  background-color: #9198a3;
  padding: 20px;
  margin-top: 20px; 
    height: 350px;
    opacity: .80;
    border-radius: 10%;
 box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  text-align: center;
  background: #3d5377;
  margin-top: 30px;
  font-size: 15px;
  width:  30%;
 
}
img.user{
	width: 230px;
	height: 200px;
	border-radius:20%;
	position: absolute;
  left: 80px;
  top: 10px;
}

.logo{
	width: 110px;
	height: 110px;
	border-radius: 50%;
}
.hsu{
	width: 110px;
	height: 110px;}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
div.gallery {
  margin: 15px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
}
div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 100%;
}
div.secondgallery {
  margin: 4px;
  border: 1px solid #ccc;
  float: left;
  width: 130px;
}
div.secondgallery:hover {
  border: 1px solid #777;
}
div.secondgallery img {
  width: 100%;
  height: 100%;
}
div.desc {
  padding: 6px;
  text-align: center;
  color: white;
}
h3{
	font-size: 20px;
	font-family: "Courier New";
	text-align: justify-all;
	color: white;
	 letter-spacing: 2px; 
	 line-height: 	1.5;

}
h1{
	font-family: "Courier New";
	text-align: justify-all;
	color: white;
}
table, td, th {  
  border: 2px solid #646970;
  text-align: left;
  color: black;
}

table {
  border-collapse: collapse;
  width: 100%;

}

th, td {
  padding: 3px;
} 
ol.seminar{
	 text-align: left;
	 color: black;
	 font-size: 20px;
	 font-family: "Courier New";
	 white-space: 10px;
	 letter-spacing: 2px;
	 line-height: 	1.5;
}
p{
 text-align: center;
	 color: black;
	 font-size: 20px;
	 font-family: "Courier New";
	 letter-spacing: 4px;
	 line-height: 	1.8;
}
.bg-image {
  /* Full height */
  height: 50%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images used */
.img1 { background-image: url("img_snow.jpg"); }
.img2 { background-image: url("img_girl.jpg"); }
.img3 { background-image: url("img_lights.jpg"); }
.img4 { background-image: url("img_nature.jpg"); }
.img5 { background-image: url("img_forest.jpg"); }
.img6 { background-image: url("img_woods.jpg"); }
