* {
  box-sizing: border-box;
}

body {
padding: 10px;
 background-image: url("../images/key.jpg");
background-repeat: no-repeat;
background-size: cover;
}
h2{
		color: white;
}

/* Header/Blog Title */
.header {
  padding: 60px;
  text-align: center;
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 50%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 50%;
  padding-left: 20px;

}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #3d5377;
  padding: 20px;
  margin-top: 20px; 
    height: 300px;
    opacity: .80;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  text-align: center;
  background: #3d5377;
  margin-top: 20px;
  font-size: 15px;
}
img.user{
	width: 250px;
	height: 230px;
	border-radius: 50%;
position: absolute;
  left: 50px;
  top: 10px;
}

.logo{
	width: 110px;
	height: 110px;
	border-radius: 50%;
}
.hsu{
	width: 110px;
	height: 110px;}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
div.gallery {
  margin: 2px;
  border: 1px solid #ccc;
  float: left;
  width: 150px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 100%;

}

div.desc {
  padding: 6px;
  text-align: center;
  color: white;
}
h3{
	font-size: 20px;
	font-family: "Courier New";
	text-align: justify-all;

}
table, td, th {  
  border: 2px solid #646970;
  text-align: left;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 3px;
} 